<h2>Crear sala</h2>
<form [formGroup]="createRoomForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="form-group">
            <label for="guess">Palabra a adivinar</label>
            <input type="text" formControlName="guess" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.guess.errors }" />
            <div *ngIf="submitted && f.guess.errors" class="invalid-feedback">
                <div *ngIf="f.guess.errors.required">* La palabra a adivinar es requerida</div>
            </div>
        </div>
        <label for="category">Categoría</label>
        <select formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
            <option value="item.id" *ngFor="let item of categoryList">{{ item.name }}</option>
        </select>
        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">* La categoría es requerida</div>
        </div>
    </div>
    <div class="form-group">
        <label for="hitLimit">Límite de aciertos</label>
        <input type="number" formControlName="hitLimit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hitLimit.errors }" />
        <div *ngIf="submitted && f.hitLimit.errors" class="invalid-feedback">
            <div *ngIf="f.hitLimit.errors.required">* El límite de aciertos es requerido</div>
            <div *ngIf="f.hitLimit.errors.min">* El valor mínimo es 1</div>
            <div *ngIf="f.hitLimit.errors.max">* El valor máximo es 200</div>
        </div>
    </div>
    <div class="form-group">
        <label for="questionLimit">Límite de preguntas</label>
        <input type="number" formControlName="questionLimit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.questionLimit.errors }" />
        <div *ngIf="submitted && f.questionLimit.errors" class="invalid-feedback">
            <div *ngIf="f.questionLimit.errors.required">* El límite de preguntas es requerido</div>
            <div *ngIf="f.questionLimit.errors.min">* El valor mínimo es 1</div>
            <div *ngIf="f.questionLimit.errors.max">* El valor máximo es 200</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Crear
        </button>
    </div>
</form>